# Test results: experiment/hdr-reapply-device-lost
